<nav>
  <div class="nav-wrapper container">
    <%= link_to "sys", home_path, class: "brand-logo logo" %>
    <a data-target="slide-out-front" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user.blank? %>
        <li><a href="/login" class="btn orange shadow dark " style="display: inline-flex;"><i class='material-icons white-text' style='transform: rotate(0);'>exit_to_app</i> Login</a></li>
      <% else %>
        <li><a href="/dashboard" class="btn orange shadow dark " style="display: inline-flex;"><i class="material-icons white-text">person</i> Área do Aluno</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="slide-out-front">
  <% if current_user.blank? %>
        <li><a href="/login" class="btn orange shadow dark " style="display: inline-flex;"><i class='material-icons white-text' style='transform: rotate(0);'>exit_to_app</i> Login</a></li>
  <% else %>
    <li><a href="/dashboard" class="btn shadow green">DASHBOARD</a></li>
  <% end %>
</ul>

<script type="text/javascript">
  $(".open_login_dialog").click(function(){
    $("#dialog").html("<%= j( render '/devise/sessions/card' )%>");

  });

</script>

