<div class="">
	<%= form_for [:admin, @prova], remote: true do |f| %>
		<% if @prova.new_record? %>
			<%= f.text_field :modulo_id, type: "hidden"  %>
			<%= f.text_field :responsavel_id, type: "hidden"  %>
		<% end %>
		<div class="row">
			<div class="col s12 m12 l12">
				<div id="form_error">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				<nav>
					<div class="nav-wrapper green">
						<%= link_to "Cursos", admin_cursos_path(), class: " breadcrumb" %>
						<%= link_to truncate("#{@modulo.curso.nome}", length: 15), edit_admin_curso_path(@modulo.curso), class: " breadcrumb" %>
						<%= link_to "Módulos", admin_modulos_path(curso_id: @modulo.curso.id), class: " breadcrumb" %>
						<%= link_to truncate("#{@modulo.nome}", length: 15), edit_admin_modulo_path(id: @modulo.id, curso_id: @modulo.curso.id), class: " breadcrumb" %>
						<%= link_to "Provas".html_safe, admin_provas_path(modulo_id: @modulo.id), class: "breadcrumb" %>
						<% unless @prova.new_record? %>
							<%= link_to truncate("#{@prova.descricao}", length: 15), edit_admin_prova_path(id: @prova.id, modulo_id: @modulo.id), class: " breadcrumb" %>
						<% else %>
							<%= link_to "Nova Prova", new_admin_prova_path(modulo_id: @modulo.id), class: " breadcrumb" %>
						<% end %>

					</div>
				</nav><br>
			</div>
			<div class="col s12 m12 l12">
			<br>
				<div id="card_prova" class="card">
					<div class="card-content" style="border: 1px solid <%= action_controller(controller) == 'new_modulos' ? 'green' : '#2196f3' %>; padding: 15px; ">
						<div class="row"><br><br>
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :descricao  %>
									<label for="prova_descricao">Descrição</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">access_time</i>
									<%= f.text_field :tempo, :onkeypress => "mascara(this, checaNumero)" %>
									<label for="prova_tempo">Tempo para terminar (min)</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<label>
										<%= f.check_box :ativo, class: "filled-in checkbox"  %> 
										<span class="">Ativo</span>
									</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m12 l12">
						      <%= f.fields_for :perguntas do |pergunta| %>
						        <%= render 'pergunta_fields', f: pergunta %>
						      <% end %>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
							    <%= link_to_add_association "Adicionar pergunta", f, :perguntas, class: 'btn shadow green medium' %>
							</div>
						</div>


						<div class="action">
							<button type="submit" class="send btn shadow green dark small right">Salvar</button>
							<a class="btn shadow blue dark small right margin-right-15">Visualizar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

