<div class="nested-fields layout grey lighten-3 animated rubberBand">
	<%= link_to_remove_association "<i class='material-icons '>delete_sweep</i>".html_safe, f, class: 'btn f12 right shadow red medium' %>

	<div class="row">
		<div class="field">
			<div class="input-field col s12 m12 l12">
				<span class="span">Frase da Pergunta</span>
				<%= f.text_field :frase, placeholder: "Frase da pergunta"  %>
			</div>
		</div>

		<div class="field">
			<div class="input-field col s12 m12 l12">
				<%= f.collection_select :tipos, pergunta_tipo, :last, :first, { prompt: "Selecionar Tipo" } %>
				<%= f.label :tipos %>
			</div>
		</div>

	</div>
	<span class="span">Respostas</span>
	<div class="row">
		<%= f.fields_for :respostas do |resposta| %>
			<div class="col s12 m12 l6">
				<%= render 'resposta_fields', f: resposta %>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col s12 m12 l12">
		<%= link_to_add_association "Adicionar resposta", f, :respostas, class: 'btn shadow blue medium' %>
		</div>
	</div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>