<tr>
  <td class="cod">
    <span>
      <%= prova.id %>
    </span>
  </td>
  <td><%= "#{prova.descricao}" %></td>
  <td><%= "#{prova.perguntas.size}" %></td>
  <td>
    <%= prova.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td class="actions">
    <%= link_to edit_admin_prova_path(id:prova.id, modulo_id: @modulo.id), class: "btn shadow blue small", title: "Editar #{prova.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_prova_path(prova), class: "btn shadow orange small", title: "Visualizar #{prova.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
  </td>
</tr>