<div class="nested-fields layout claro animated rubberBand">
  <%= link_to_remove_association "<i class='material-icons '>delete_sweep</i>".html_safe, f, class: 'btn f12 right shadow red medium' %>

  <div class="row">
    <div class="field">
      <div class="input-field col s12 m12 l12">
        <span class="span">Frase da Resposta</span>
        <%= f.text_field :frase, placeholder: "Frase da resposta"  %>
      </div>
    </div>
    <div class="field">
      <div class="input-field col s12 m12 l12">
        <label>
          <%= f.check_box :correta, class: "filled-in checkbox"  %> 
          <span class="">Correta</span>
        </label>
      </div>
    </div>
  </div>

</div>