<div class="row"></div>
<div class="row">
	<div class="col s12 m12 l12">
		<nav>
			<div class="nav-wrapper green">
				<%= link_to "Cursos", admin_cursos_path(), class: " breadcrumb" %>
				<%= link_to truncate("#{@modulo.curso.nome}", length: 15), edit_admin_curso_path(@modulo.curso), class: " breadcrumb" %>
				<%= link_to "Módulos", admin_modulos_path(curso_id: @modulo.curso.id), class: " breadcrumb" %>
				<%= link_to truncate("#{@modulo.nome}", length: 15), edit_admin_modulo_path(id: @modulo.id, curso_id: @modulo.curso.id), class: " breadcrumb" %>
				<%= link_to "Provas".html_safe, admin_provas_path(modulo_id: @modulo.id), class: "breadcrumb" %>

			</div>
		</nav><br>
		<%= link_to "Nova Prova".html_safe, new_admin_prova_path(modulo_id: @modulo.id), class: "btn shadow green" %>
	</div>
	<div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m12 l12">
						<div id="prova_list">
							<%= render "list" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
