
<video autoplay muted loop id="myVideo">
  <source src="/background-login.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div style="height: 64px;">&nbsp;</div>
<div class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
    <%= render "card" %>
    </div>
  </div>
</div>