.user-view{
	padding: 0 !important;
	.background-navbar{
		width: 300px;
		background-color: white;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 1;
		}
	}

	.profile{
		background: rgba(000, 000, 000, 0.0);
		border-radius: 0;
		box-shadow: 0 0px 5px #777;
		transition: .6s;
		width: 300px;
		padding: 10px;
		&:hover{
			box-shadow: 0 0px 15px #777;
			transition: .6s;

		}
		
		.item{
			color: black;
			text-shadow: 0 0 20px white;
			&.circle{
				box-shadow: 0 0 20px white;
				background-color: white;
			}
		}
	}
}


#slide-out{
	.collapsible{
		&.collapsible-accordion{
			display: grid;
			li:first-child{
				display: grid;
			}
			.collapsible-body{
				li > a{
					color: #666 !important;
				}
			}
		}
	}
}


#slide-modulos{
	@media only screen and (max-width : 992px) {
		&.right-aligned::after{
			left: 0;
		}
	}
}