<% if curso_adquirido?(@curso) %>
	<li>
		<% if modulo_atual @curso %>
			<%= link_to "Continuar", dashboard_modulo_path((modulo_atual @curso)), class: "btn blue no-margin pulse animated pulse infinite" %>
		<% else %>
			<%= link_to "Começar", dashboard_modulo_path(@curso.modulos.order("ordem asc").first), class: "btn blue no-margin pulse animated pulse infinite" %>
		<% end %>
	</li>
	<% @curso.modulos.order("ordem asc").each do |modulo| %>
	<li>
		<a>
			<%= "#{modulo.ordem} - #{modulo.nome}" %>
			<span class="span f10 right peso-3"> <i class="material-icons f10 prefix">access_time</i> <%= "#{calcular_tempo modulo.tempo}" %></span>
		</a>
	</li>
	<% end %>
<% else %>
	<li>
		<%= link_to "Adquira já!", dashboard_cursos_adquirir_path(@curso), class: "btn green no-margin pulse", method: "post" %>
	</li>
	<% @curso.modulos.order("ordem asc").each do |modulo| %>
		<li>
			<a>
				<%= "#{modulo.ordem} - #{modulo.nome}" %>
			<span class="span f10 right peso-3"> <i class="material-icons f10 prefix">access_time</i> <%= "#{calcular_tempo modulo.tempo}" %></span>
			</a>
		</li>
	<% end %>
<% end %>