<li>
	<a class="btn green no-margin animated pulse infinite">Turmas</a>
</li>
<% @curso.turmas.each_with_index do |turma, index| %>
	<li>
		<%= link_to dashboard_turma_path(turma) do %>
			<%= "#{index+1} - " %><%= truncate("#{turma.descricao}", length: 25) %>
		<span class="span f10 right peso-3"> <i class="material-icons f10 prefix">access_time</i><%= turma_tempo_inscricao(turma) %> </span>
		<% end %>
	</li>
<% end %>
