<div class="row">
	<% cursos.each_with_index do |curso, index| %>
	<!-- ############ SEPARAR LINHAS ############# -->
		<% if (index % 3) == 0 %>
			</div><div class="row">
		<% end %>
	<!-- ############ ############## ############# -->
		<div class="col s12 m4 l4">
	      <div class="card animated zoomInDown" style="min-height: 400px;" >
	          <%= link_to dashboard_curso_path(curso), class: "hover-image" do %>
	        <div class="card-image">
	          <% if is_new?curso %>
	          	<% if curso_novo? curso %>
		          <span class="badge green white-text left" style="position: relative; z-index: 99;">novo
		          </span>
	          	<% end %>
	          		<% if curso_adquirido? curso %>
						<span class="badge grey white-text" style="position: relative; z-index: 99;">Adquirido
						</span>
	          		<% else %>
						<span class="badge <%= curso_gratis?(curso) ? 'purple' : 'amber' %> white-text" style="position: relative; z-index: 99;"><%= string_total(curso) %>
						</span>
	          		<% end %>
	          <% end %>
	          <img src="<%= capa(curso) %>" style="display: initial; margin-top: -22px;">
	          <span class="card-title black-text f20" style="text-shadow: 0 0 5px rgba(000, 000, 000, 0.5); border-radius: 6px; background-color: rgba(255, 255, 255, .8); margin-bottom: -5px;  padding: 15px 15px 0 15px; width: 100%;"><%= truncate("#{curso.nome}", length: 30) %> <br>
	          	<span class="f12 no-padding no-margin" style="text-shadow: none !important; margin-top: -5px;"><%= curso.categoria.nome %></span>
	          </span>
	        </div>
	          <% end %>
	        <div class="card-content">
	          <p><%= truncate("#{curso.descricao}", length: 100) %></p>
	        </div>
	      </div>
		</div>		
	<% end %>
</div>
