<nav id="slideout-modulos" class="transparent" >
	<div class="nav-wrapper transparent"><br>
		<a data-target="slide-modulos" class="sidenav-trigger btn shadow blue no-margin margin-bottom-15 right">Módulos</a>
	</div>
</nav>
<div class="row">
	<div class="col s12 m12 l8 ">
		<h1 class="f30 no-margin"><%= "#{@curso.nome} (#{@curso.categoria.nome})" %></h1>
		<br>
		<p style="padding: 0 15px;">
			<p>
				<%= "#{@curso.ementa}".html_safe %>
			</p>
			<p>
				<strong>Professor: </strong> <%= nome(@curso.responsavel) %>
			</p>
			<p>
				<% if @curso.gratis %>
					<span class="green-text" style="font-weight: 700;"><%= "#{string_total @curso}" %></span>
				<% else %>
					<strong>Preço: </strong> 
					<% unless (preco @curso).to_s == (string_total @curso).to_s %>
						<span class="grey-text" style="text-decoration: line-through;">	<%= "(#{preco @curso})" %> </span> 
					<% end %>
					&nbsp; 
					<span class="green-text" style="font-weight: 700;"><%= "#{string_total @curso}" %></span>
				<% end %>
			</p>
		</p>
	</div>
	<div class="col s12 m12 l4 no-margin no-padding">
		<ul id="slide-modulos" class="sidenav sidenav-fixed blue lighten-5 right-aligned" style="transform: translateX() !important;">
			<li>
				<div class="user-view">
					<div class="background black">
						<img src="<%= capa(@curso) %>" style="opacity: 0.1;">
					</div>
					<%= link_to dashboard_curso_path(@curso), class: "no-margin no-padding" do %>
						<img class="item circle" src="<%= capa(@curso) %>">
						<span class=" white-text name"><%= truncate("#{@curso.nome}", length: 30) %></span>
						<span class="item white-text name"><%= truncate("#{@curso.descricao}", length: 100) %></span>
					<% end %>
				</div>
			</li>
			<% if curso_vitalicio?(@curso) %>
				<%= render "curso_vitalicio" %>
			<% else %>
				<%= render "curso_de_turma" %>
			<% end %>
		</ul>
	</div>
</div>