<tr>
  <td class="cod">
    <span>
      <%= curso.id %>
    </span>
  </td>
  <td><%= "#{curso.nome} (#{string_total(curso)})" %></td>
  <td><%= curso.descricao %></td>
  <td>
    <%= curso.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td>
    <%= curso.gratis ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td>
    <%= curso.destaque ? "<i class='material-icons orange-text'>star</i>".html_safe : "<i class='material-icons orange-text'>star_border</i>".html_safe %>
  </td>
  <td>
    <img src="<%= capa(curso) %>" style="max-height: 2rem;" >
  </td>
  <td class="actions">
    <%= link_to edit_admin_curso_path(curso), class: "btn shadow blue small", title: "Editar #{curso.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_curso_path(curso), class: "btn shadow orange small", title: "Visualizar #{curso.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <%= link_to admin_curso_path(curso), class: "btn shadow purple small", title: "Rendimento #{curso.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>insert_chart</i>
    <% end %>
    <% if admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_curso_path(curso), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{curso.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>