	<%= form_for [:admin, @curso], remote: true do |f| %>
		<% if @curso.new_record? %>
			<%= f.text_field :responsavel_id, type: "hidden", value: current_user.id %>
			<%= f.text_field :categoria_id, type: "hidden", value: CategoriaCurso.ids.sample %>
			<%= f.text_field :gratis, type: "hidden", value: @curso.gratis %>
		<% end %>
		<div class="row">
			<div class="col s12 m12 l12">
				<div id="form_error">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				<nav>
					<div class="nav-wrapper green">
						<%= link_to "Cursos", admin_cursos_path(), class: " breadcrumb" %>
						<% unless @curso.new_record? %>
							<%= link_to truncate("#{@curso.nome}", length: 15), edit_admin_curso_path(@curso), class: " breadcrumb" %>
						<% else %>
							<%= link_to "Novo Curso", new_admin_curso_path(), class: " breadcrumb" %>
						<% end %>
					</div>
				</nav><br>
				<% unless @curso.new_record? %>
				<%= link_to "Visualizar Módulos".html_safe, admin_modulos_path(curso_id: @curso.id), class: "btn shadow green" %>
				<% end %>
			</div>
			<div class="col s12 m12 l12">
			<br>
				<div class="card">
					<div class="card-content">
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :nome  %>
									<label for="curso_nome">Name</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :descricao %>
									<label for="curso_descricao">Descrição</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">local_offer</i>
									<%= f.collection_select :categoria_id, CategoriaCurso.all.order("categoria_cursos.nome ASC"), :id, :nome, { prompt: "Selecionar Categoria" } %>
									<%= f.label :categoria %>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :custo, :onkeypress => "mascara(this, checaValor)", maxlength: 9, value: custo(@curso)  %>
									<label for="curso_custo">Custo</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :preco, class: "calcular", :onkeypress => "mascara(this, checaValor)", maxlength: 9, value: preco(@curso)  %>
									<label for="curso_preco">Preço</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :desconto, class: "calcular", value: desconto(@curso), :onkeypress => "mascara(this, checaNumero)"  %>
									<label for="curso_desconto">Desconto</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :total, :onkeypress => "mascara(this, checaValor)", maxlength: 9, value: total(@curso)  %>
									<label for="curso_total">Total</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l3" >
								<label>
									<%= f.check_box :ativo, class: "filled-in checkbox"  %> 
									<span class="">Ativo</span>
								</label>
							</div>
							<div class="col s12 m12 l3" >
								<label>
									<%= f.check_box :destaque, class: "filled-in checkbox"  %> 
									<span class="">Destaque</span>
								</label>
							</div>
							<div class="col s12 m12 l3" >
								<label>
									<%= f.check_box :vitalicio, class: "filled-in checkbox"  %> 
									<span class="">Vitalício</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l6">
								<div class="file-field input-field">
									<div class="btn blue">
									    <span>CAPA</span>
										<%= f.file_field :imagem_capa %>
									</div>
									<div class="file-path-wrapper">
										<input class=" validate" type="text" placeholder="Adiconar imagem ">
									</div>
								</div>
							</div>
							<div class="col s12 m12 l6">
								<img src="<%= capa(@curso) %>" style="height: 100px; width: auto;">
							</div>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<span class="f20 grey-text">Ementa</span>
									<%= f.cktext_area :ementa, as: :text, ckeditor: {language: 'pt'}  %>
								</div>
							</div>
						</div>
						<div class="action  ">
							<button type="submit" class="send btn shadow green dark small right">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>


<script type="text/javascript">
	$(".calcular").keyup(function(){
		var preco = parseFloat($("#curso_preco").prop('value').replace(".", "").replace(",", ".")).toFixed(2);
		var desconto = parseFloat($("#curso_desconto").prop('value'));
		desconto = desconto || 0
		desconto = parseFloat((preco*desconto/100)).toFixed(2);
		console.log("preco: "+preco)
		console.log("desconto: "+desconto)
		total = parseFloat(""+(preco-desconto)).toFixed(2);
		$("#curso_total").val(total);
		console.log("total: "+total)
		M.updateTextFields();
	});
</script>