<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th style="width: 8%;">Ativo</th>
      <th style="width: 8%;">Grátis</th>
      <th style="width: 8%;">Destaque</th>
      <th>Capa</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody id="item_list">
    <%= render @cursos %>
  </tbody>
</table>
