<div class="row"></div>
<div class="row">
			<div class="col s12 m12 l12">
				<nav>
					<div class="nav-wrapper green">
						<%= link_to "Cursos", admin_cursos_path(), class: " breadcrumb" %>
					</div>
				</nav><br>
				<%= link_to "Novo Curso".html_safe, new_admin_curso_path(), class: "btn shadow green" %>
			</div>
</div>
<div class="row layout">
	<div class="input-field col s12 m6 l3">
		<input id="codigo" type="text" class="validate">
		<label class="active" for="codigo">Código</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<input id="nome" type="text" class="validate">
		<label class="active" for="nome">Nome</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<a id="buscar" class="btn shadow black small">Buscar</a>
	</div>
</div>

<div class="row layout claro">
	<div class="col s12 m12 l12">
		<div id="curso_list">
			<%= render "list" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#buscar").click(function(){
		$("#curso_list").removeClass("animated tada");
		var codigo = $("#codigo").val();
		var nome = $("#nome").val();
		$.ajax({
			url: "/admin/cursos",
			method: "get",
			dataType: "script",
			data: {
				'id': 			codigo,
				'nome': 		nome
			}
		});
	});
$("input").keypress(function() {
    if (event.which == 13) $("a#buscar").trigger( "click" )
});
</script>