<nav id="slideout-modulos" class="transparent" >
	<div class="nav-wrapper transparent"><br>
		<a data-target="slide-modulos" class="sidenav-trigger btn shadow blue no-margin margin-bottom-15 right">Módulos</a>
	</div>
</nav>
<div class="row">
	<div class="col s12 m12 l8 animated flip">
		<h1 class="f30 no-margin grafit-text"><%= "#{@turma.descricao} (#{@curso.categoria.nome})" %></h1>
		<br>
		<p class="layout claro" style="padding: 0 15px;">
			<p>
				<% if turma_inscrito? @turma %>
					<a class="btn" disabled>Inscrito</a>
				<% else %>
					<%= link_to "Inscrever", dashboard_turmas_inscrever_aluno_path(@turma), class: "btn shadow green", title: "Inscrever na turma #{@turma.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: "POST", remote: true %>
				<% end %>
			</p>
			<p>
				<span class="span f15 orange-text">Ementa</span>
				<%= "#{@turma.ementa}".html_safe %>
			</p>
			<% unless @turma.observacoes.blank? %>
			<p>
				<span class="span f15 orange-text">Observações</span>
				<%= "#{@turma.observacoes}".html_safe %>
			</p>
			<% end %>
			<p>
				<span class="span f15 orange-text">Livros</span>
				<%= "#{@turma.livros}".html_safe %>
			</p>
			<hr>
			<p>
				<strong class="purple-text">Professor: </strong> <%= nome(@turma.professor) %>
			</p>
			<p>
				<strong class="purple-text">Período: </strong> <span class="span"> <%= turma_inicio(@turma) %> - <%= turma_fim(@turma) %></span>
			</p>
			<p>
				<strong class="purple-text"> Inscritos: </strong> <span class="span f12"><%= turma_inscritos(@turma).size %>/<%= @turma.limite_inscritos %></span>
			</p>
			<p> 
				<span class="span f12">
					Inscrições encerram em <%= turma_tempo_inscricao(@turma) %> dias 
				</span>
			</p>
			<hr>
			<p>
				<% if turma_inscrito? @turma %>
					<a class="btn" disabled>Inscrito</a>
				<% else %>
					<%= link_to "Inscrever", dashboard_turmas_inscrever_aluno_path(@turma), class: "btn shadow green", title: "Inscrever na turma #{@turma.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: "POST", remote: true %>
				<% end %>
			</p>
		</p>
	</div>
	<div class="col s12 m12 l4 no-margin no-padding">
		<ul id="slide-modulos" class="sidenav sidenav-fixed blue lighten-5 right-aligned" style="transform: translateX() !important;">
			<li>
				<div class="user-view">
					<div class="background black">
						<img src="<%= capa(@curso) %>" style="opacity: 0.1;">
					</div>
					<%= link_to dashboard_curso_path(@curso), class: "no-margin no-padding" do %>
						<img class="item circle" src="<%= capa(@curso) %>">
						<span class=" white-text name"><%= truncate("#{@curso.nome}", length: 30) %></span>
						<span class="item white-text name"><%= truncate("#{@curso.descricao}", length: 100) %></span>
					<% end %>
				</div>
			</li>
			<%= render "/dashboard/cursos/curso_de_turma" %>
		</ul>
	</div>
</div>