<% if object.errors.any? %>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content red-text">
        <span class="card-title">OPS <span class="badge red white-text"><%= object.errors.size %></span></span>
        <% object.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>

<% end %>