<div class="">
	<%= form_for [:admin, @turma], remote: true do |f| %>
		<div class="row">
			<div id="form_error">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
			<br>
				<div class="card">
						<div class="card-content" style="border: 1px solid <%= action_controller(controller) == 'new_turmas' ? 'green' : '#2196f3' %>; padding: 15px; ">
						<div class="row">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<i class="material-icons prefix">local_offer</i>
										<%= f.collection_select :professor_id, User.all, :id, :nome, { prompt: "Selecionar Professor" } %>
										<%= f.label :professor %>
									</div>
								</div>
						</div>
						<div class="row">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<i class="material-icons prefix">local_offer</i>
										<%= f.collection_select :curso_id, Curso.all.order("cursos.nome ASC"), :id, :nome, { prompt: "Selecionar Curso" } %>
										<%= f.label :curso %>
									</div>
								</div>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :inicio, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_inicio">Início do Curso</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :fim, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_fim">Fim do Curso</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :inicio_inscricao, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_inicio_inscricao">Início/Inscrições</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :fim_inscricao, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_fim_inscricao">Fim/Inscrições</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :descricao %>
									<label for="turma_descricao">Descrição</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l3">
									<i class="material-icons prefix">people</i>
									<%= f.text_field :limite_inscritos %>
									<label for="turma_descricao">Limite de Inscritos</label>
									<span class="span f10">Deixe em branco para sem limites.</span>
								</div>
							</div>


							<div class="field">
								<div class="input-field col s12 m12 l12">
									<label>
										<%= f.check_box :ativo, class: "filled-in checkbox"  %> 
										<span class="">Ativo</span>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<span class="f20 grey-text">Ementa</span>
										<%= f.cktext_area :ementa, as: :text, ckeditor: {language: 'pt'}  %>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<span class="f20 grey-text">Livros</span>
										<%= f.cktext_area :livros, as: :text, ckeditor: {language: 'pt'}  %>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<span class="f20 grey-text">Observações</span>
										<%= f.cktext_area :observacoes, as: :text, ckeditor: {language: 'pt'}  %>
									</div>
								</div>
							</div>
						</div>

						<div class="action ">
							<button type="submit" class="send btn shadow green dark small right">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
