<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Início</th>
      <th>Ativo?</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody id="item_list">
    <%= render @turmas %>
  </tbody>
</table>
