<tr>
  <td class="cod">
    <span>
      <%= turma.id %>
    </span>
  </td>
  <td><%= turma.descricao %></td>
  <td><%= l turma.inicio.to_date, format: :short %></td>
  <td>
    <%= turma.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td class="actions">
    <%= link_to edit_admin_turma_path(turma), class: "btn shadow blue small", title: "Editar #{turma.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_turma_path(turma), class: "btn shadow orange small", title: "Visualizar #{turma.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <% if admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_turma_path(turma), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{turma.descricao}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>