<br>
<div class="layout claro">
	
<div class="row">
	<div class="col s12 m12 l12">
		<%= link_to "Nova Turma".html_safe, new_admin_turma_path(curso_id: params[:curso_id]), class: "btn shadow green" %>
	</div>
</div>

<div class="row ">
	<div class="input-field col s12 m6 l3">
		<input id="codigo" type="text" class="validate">
		<label class="active" for="codigo">Código</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<input id="descricao" type="text" class="validate">
		<label class="active" for="descricao">Turma</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<a id="buscar" class="btn shadow black small">Buscar</a>
	</div>
</div>
<div class="row ">
	
	<div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m12 l12">
						<div id="turma_list">
							<%= render "list" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<script type="text/javascript">
	$("#buscar").click(function(){
		$("#turma_list").removeClass("animated tada");
		var codigo = $("#codigo").val();
		var descricao = $("#descricao").val();
		$.ajax({
			url: "/admin/turmas",
			method: "get",
			dataType: "script",
			data: {
				'id': 			codigo,
				'descricao': 		descricao
			}
		});
	});
$("input").keypress(function() {
    if (event.which == 13) $("a#buscar").trigger( "click" )
});
</script>