<div class="">
	<%= form_for [:admin, @turma], remote: true do |f| %>
		<div class="row">
			<div id="form_error">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
			<br>
				<div class="card">
						<div class="card-content" style="border: 1px solid <%= action_controller(controller) == 'new_turmas' ? 'green' : '#2196f3' %>; padding: 15px; ">
						<div class="row">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<i class="material-icons prefix">person</i>
										<%= f.collection_select :professor_id, User.all, :id, :nome, { prompt: "Selecionar Professor" } %>
										<%= f.label :professor %>
									</div>
								</div>
						</div>
						<div class="row">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<i class="material-icons prefix">local_offer</i>
										<%= f.collection_select :curso_id, cursos_de_turmas, :id, :nome, { prompt: "Selecionar Curso" } %>
										<%= f.label :curso %>
									</div>
								</div>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :inicio, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_inicio">Início do Curso</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :fim, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_fim">Fim do Curso</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :inicio_inscricao, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_inicio_inscricao">Início/Inscrições</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m6 l3">
									<i class="material-icons prefix">date_ranger</i>
									<%= f.text_field :fim_inscricao, :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
									<label for="turma_fim_inscricao">Fim/Inscrições</label>
								</div>
							</div>
						</div>

						<div class="action ">
							<button type="submit" class=" btn shadow green dark small right">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
