<div id="<%= controller_name %>_<%= action_name %>">

  <div class="video-parallax-container">
    <div class="video-parallax">
      <video autoplay muted loop id="myVideo">
        <source src="/background0.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
      </video>
        
        <div class="container" style="margin-top: 64px;">
          <br>
          <br>
          <br>
          <div class="row">
            <h1 class="left animated BounceInLeft no-margin no-padding white-text"><%= Faker::Lorem::paragraph(4) %></h1>
          </div>
          <div class="row">
          <span class="span animated BounceInLeft white-text left no-margin no-padding"><%= Faker::Lorem::paragraph(4) %></span><br>
          </div>
          <div class="row">
          <p class="left row no-margin no-padding">&nbsp;
            <a class="btn left orange shadow dark margin-top-15 animated BounceInLeft"><%= Faker::Lorem::paragraph(1) %></a>
          </p>
          </div>
        </div>

    </div>
  </div>

  <div class="section">
    <div class="container">
      <br>
      <div class="row">
        <div class="col s12 m6 l6">
          <div id="visualization_bar" class="chart_bar" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="col s12 m6 l6">
          <p class="span ">
            <%= Faker::Lorem::paragraph(20) %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <p class="span ">
            <%= Faker::Lorem::paragraph(20) %>
          </p>
        </div>
        <div class="col s12 m6 l6">
          <div id="visualization_pie" class="chart_pie" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container" style="background-color: black;">
    <div class="parallax" style="z-index: 1;">
    <div style="opacity: 0.5;">
      <img src="/background2.jpg" style="opacity: 0.5 !important;">
    </div>
        
        <div class="container" style="margin-top: 64px;">
          <br>
          <div class="row">
            <h1 class="left animated BounceInLeft no-margin no-padding white-text"><%= Faker::Lorem::paragraph(4) %></h1>
          </div>
          <div class="row">
          <span class="span animated BounceInLeft white-text left no-margin no-padding"><%= Faker::Lorem::paragraph %></span><br>
          </div>
        </div>
    </div>
  </div>
  <div class="section ">
    <div class="row container">
      <h2 class="header show-off from-<%= ['right', 'left'].sample %>">A visão que nos movimenta.</h2>
      <p class="grey-text text-darken-3 lighten-3 show-off from-<%= ['left', 'right' ].sample %>">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="grey-text text-darken-3 lighten-3 show-off from-<%= ['left', 'right' ].sample %> ">
        <img src="/images/slogans/example.png">
      </p>
    </div>
  </div>
  <div class="parallax-container" style="background-color: black;">
    <div class="parallax" style="z-index: 1;">
    <div style="opacity: 0.5;">
      <img src="/background4.jpg" style="opacity: 0.5 !important;">
    </div>
        <div class="container" style="margin-top: 64px;">
          <br>
          <div class="row">
            <h1 class="left animated BounceInLeft no-margin no-padding white-text"><%= Faker::Lorem::paragraph(4) %></h1>
          </div>
          <div class="row">
          <span class="span animated BounceInLeft white-text left no-margin no-padding"><%= Faker::Lorem::paragraph %></span><br>
          </div>
        </div>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <br>
      <h1 class="center show-off fadeInDown orange-text">Destaques</h1>
      <div class="row">
        <% Curso.all.limit(3).each_with_index do |curso, index| %>
        <!-- ############ SEPARAR LINHAS ############# -->
          <% if (index % 4) == 0 %>
            </div><div class="row">
          <% end %>
        <!-- ############ ############## ############# -->
          <div class="col s12 m4 l4">
              <div class="card show-off from-<%= ['right','left'].sample %>" style="min-height: 400px; border: 1px solid #F05815;" >
                  <%= link_to dashboard_curso_path(curso), class: "hover-image" do %>
                <div class="card-image">
                  <img src="<%= capa(curso) %>" style="display: initial; margin-top: -22px;">
                  <span class="card-title black-text f20" style="text-shadow: 0 0 5px rgba(000, 000, 000, 0.5); border-top: 2px solid #F05815; border-radius: 6px; background-color: rgba(255, 255, 255, .8); margin-bottom: -5px;  padding: 15px 15px 0 15px; width: 100%;"><%= truncate("#{curso.nome}", length: 30) %> <br>
                  </span>
                </div>
                  <% end %>
                <div class="card-content">
                  <p><%= truncate("#{curso.descricao}", length: 100) %></p>
                </div>
              </div>
          </div>    
        <% end %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});


  function drawChartBar() {
    var data = google.visualization.arrayToDataTable([
      ["Element", "Value", { role: "style" } ],
      ["<%= Faker::Lorem::paragraph(1) %>", 8.94, "#F05815"],
      ["<%= Faker::Lorem::paragraph(1) %>", 10.49, "#222"],
      ["<%= Faker::Lorem::paragraph(1) %>", 19.30, "#F05815"],
      ["<%= Faker::Lorem::paragraph(1) %>", 21.45, "color: #222"]
      ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
     { calc: "stringify",
     sourceColumn: 1,
     type: "string",
     role: "annotation" },
     2]);

    var options = {
      title: "<%= Faker::Lorem::paragraph(2) %>",
      backgroundColor: '#ededed',
      animation: {
        "startup": true,
        duration: 2000,
        easing: 'out',
      },
      bar: {groupWidth: "95%"},
      legend: { position: "none" },
    };
    var chart = new google.visualization.BarChart(document.getElementById("visualization_bar"));
    chart.draw(view, options);
  }


function drawChartPie() {
  var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours per Day'],
    ['<%= Faker::Lorem::paragraph(1) %>',     1],
    ['<%= Faker::Lorem::paragraph(1) %>',     1]
    ]);

  var options = {
    chartArea:{top:'0%',width:'100%', height:'80%'},
    backgroundColor: 'transparent',
    pieHole: 0.67,
    is3D: true,
    pieSliceBorder: 100,
    slices: {  2: {offset: 1}},
    colors: [ '#F05815', "#222"],


  };

  var chart = new 
google.visualization.PieChart(document.getElementById("visualization_pie"));
chart.draw(data, options);
// initial value
    var percent = 0;
    // start the animation loop
    var handler = setInterval(function(){
        // values increment
        percent += 1;
        // apply new values
        data.setValue(0, 1, percent);
        data.setValue(1, 1, 100 - percent);
        // update the pie
        chart.draw(data, options);
        // check if we have reached the desired value
        if (percent > 66)
            // stop the loop
            clearInterval(handler);
    }, 30);

}
</script>