
.sys{
	font-family: 'misery_gymnast';
	font-size: 3.2rem !important;
	text-shadow: 0 0 5px white;
	padding: 0 10px;
}

.foto_perfil{
	width: 100%;
	height: auto;
	max-width: 60px;
}

#slide-out{
	li > a:hover{
		i{color: #2196F3;}
	}
}

#main-content{
	padding: 0 15px;
}

.ui-dialog{
	@media only screen and (min-width : 993px) {
		left: 320px !important;
	}
}



body::-webkit-scrollbar{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	width: 8px;
}
body::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2196F3;
}