.user-view{
	
	.background-navbar{
		width: 300px;
		background-color: black;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.35;
		}
	}

	.profile{
		.item{
			text-shadow: 0 0 20px white;
			&.circle{
				box-shadow: 0 0 20px white;
				background-color: white;
			}
		}
	}
}


#slide-out{
	.collapsible{
		&.collapsible-accordion{
			display: grid;
			li:first-child{
				display: grid;
			}
			.collapsible-body{
				li > a{
					color: #999 !important;
				}
			}
		}
	}
}