/* #2196f3; */
article{
	header{
		nav{
			z-index: 999;
			background-color: rgba(000, 000, 000, 0.85);
			position: fixed;
			box-shadow: none;
			.logo{
				font-family: 'misery_gymnast';
				font-size: 3.2rem !important;
				padding: 0 10px;
				img{
					width: 100%;
					max-width: 125px;
				}
			}
			a{
				i{
					color: #F05815;
				}
			}

		}
		ul.sidenav{
			li{
				display: flex;
			}
		}
	}
}