<h1 class="no-margin margin-top-15">Perfil</h1>
<%= form_for [:dashboard, current_user], remote: true do |f| %>

	<div class="card">
		<div class="card-content">
			<div class="row">
				<div class="input-field col s12 m6 l6">
					<i class="material-icons prefix">person</i>
					<%= f.text_field :nome, value: nome  %>
					<label for="user_nome">Nome</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<i class="material-icons prefix">email</i>
					<%= f.text_field :email, value: email  %>
					<label for="user_email">E-mail</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<i class="material-icons prefix">phone</i>
					<%= f.text_field :celular, value: celular, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15  %>
					<label for="user_celular">Celular</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<i class="material-icons prefix">phone</i>
					<%= f.text_field :telefone, value: telefone, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15  %>
					<label for="user_telefone">Telefone</label>
				</div>
				<div class="input-field col s12 m6 l4">
					<i class="material-icons prefix">folder_shared</i>
					<%= f.text_field :cpf, value: cpf, :onkeypress => "mascara(this, checaCPF)", maxlength: 14  %>
					<label for="user_cpf">CPF</label>
				</div>
				<div class="input-field col s12 m6 l4">
					<i class="material-icons prefix">folder_shared</i>
					<%= f.text_field :rg, value: rg, maxlength: 15  %>
					<label for="user_rg">RG</label>
				</div>
				<div class="input-field col s12 m6 l4">
					<i class="material-icons prefix">date_ranger</i>
					<%= f.text_field :data_nascimento, value: data_nascimento, :onkeypress => "mascara(this, checaData)", maxlength: 10  %>
					<label for="user_data_nascimento">Data de Nascimento</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="file-field input-field">
						<div class="btn blue">
						    <span>FOTOS</span>
							<%= f.file_field :fotos, multiple: true %>
						</div>
						<div class="file-path-wrapper">
							<input class=" validate" type="text" placeholder="Adiconar imagem ">
						</div>
					</div>
				</div>
				<div class="col s12 m12 l12">
					<div class="row">
						<% unless current_user.fotos.blank? %>
							<% current_user.fotos.each do |foto| %>
									<div class="col s6 m3 l2">
										<img src="<%= foto %>" class="" style="height: 100px; width: auto;">
										<%= link_to "Perfil", "", class: "btn orange shadow  #{'dark' if  foto_perfil == foto.url}", style: "width: 100%;" %>
									</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="action">
				<button type="submit" class="send btn shadow green dark small right">Salvar</button>
			</div>
		</div>
	</div>

<% end %>
