.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}

.sys{
	font-family: "misery_gymnast"
}

.video-parallax-container{
	height: 600px; 
	position: relative;
	overflow: hidden;
}

.video-parallax{
	position: absolute;     
	top: 0;    
	left: 0;    
	right: 0;    
	bottom: 0;    
	z-index: -1;
}

.section{
	min-height: 300px;
	background-color: #ededed;
	h2 {
		font-size: 30px;
	}
}
.show-off{
	opacity: 0;
}

/*
.from-left{
	margin: 0;
	margin-left: -40%;
	padding: 15px;
}

.from-right{
	margin: 0;
	margin-left: 40%;
	padding: 15px;
}
*/
a.logo{
	font-family: 'misery_gymnast';
	font-size: 3.2rem !important;
	text-shadow: 0 0 5px white;
	padding: 0 10px;
}



#slide-out{
	li > a:hover{
		i{color: #2196f3;}
	}
}

body::-webkit-scrollbar{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	width: 8px;
}
body::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F05815;
}

/*
	@media only screen and (min-width: 960px) {
	    /* styles for browsers larger than 960px; 
	}
	@media only screen and (min-width: 1440px) {
	     styles for browsers larger than 1440px; 
	}
	@media only screen and (min-width: 2000px) {
	     for sumo sized (mac) screens 
	}
	@media only screen and (max-device-width: 480px) {
	    styles for mobile browsers smaller than 480px; (iPhone) 
	}
	@media only screen and (device-width: 768px) {
	    default iPad screens 
	}
	 different techniques for iPad screening 
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	   For portrait layouts only 
	}

	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	   For landscape layouts only 
	}

*/