body.pages{
	h1,h2,h3,h4,h5,span,p,i,strong, a{
		position: relative;
	}
	h1{

		@media only screen and (min-width : 923px) {
			line-height: normal;
			font-size: 3rem;
		}
		font-size: 2rem;
		font-weight: 700;
		color: white;
		&.titulo{
			text-align: center;
		}
	}
	a{
	}
	#myVideo{
		position: fixed;
		opacity: 0.8;
		width: 100%; 
		height: 100%;
		@media only screen and (max-width : 420px) {
			width: auto; 
		}
		object-fit: cover;
	}
	.ui-dialog{
		background: #fefefe;
		border: none !important;
		top: 11% !important;
		#dialog{
		}
		.ui-dialog-titlebar{
			border: none;
			background: transparent;
		}
	}

}


@media only screen and (max-width : 420px) {
	#myVideo{
		left: -70%;
		bottom: 0%;
	}
	.from-left{
		margin-left: 0 !important;	
	}
	.from-left{
		margin-left: 0 !important;	

	}
}

