<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Tipo</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody id="item_list">
    <%= render @users %>
  </tbody>
</table>
