<tr>
  <td class="cod">
    <span>
      <%= user.id %>
    </span>
  </td>
  <td><%= user.nome %></td>
  <td><%= user.email %></td>
  <td><%= tipos user %></td>
  <td class="actions">
    <%= link_to edit_admin_user_path(user), class: "btn shadow blue small", title: "Editar #{user.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_user_path(user), class: "btn shadow orange small", title: "Visualizar #{user.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <% if admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_user_path(user), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{user.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>