<nav id="slideout-modulos" class="transparent" style="height: 15px;">
	<div class="nav-wrapper transparent"><br>
		<a data-target="slide-modulos" class="sidenav-trigger btn shadow orange no-margin margin-bottom-15 right">Módulos</a>
	</div>
</nav>
<div class="row">



	<!-- ####################################################  CONTEÚDO  ############################################################  -->



	<div class="col s12 m12 l8 animated flip">
		<div class="row layout">
			<h1 class="orange-text f30 no-margin"><%= "#{@prova.descricao}" %><span class="span f12"><%= " - #{@prova.tempo} min" %></span></h1>
			<div class="col s12 m12 l12">
				<span class="span f12">
					<%= "#{@modulo.nome}".html_safe %>
				</span>
			</div><br><br>
			<div id="provas">				
				<div class="col s12 m12 l12">
					<% @prova.perguntas.each_with_index do |pergunta, index| %>
						<strong><%= "#{index+1} - #{pergunta.frase}" %></strong> <br>
							<% if pergunta.dissertativa? %>
						        <div class="input-field col s12 m12 l12">
						          <input placeholder="Resposta" id="resposta_<%= pergunta.id %>" type="text" class="validate">
						        </div>
							<% elsif pergunta.alternativa? %>
								<% pergunta.respostas.each do |resposta| %>
								    <p>
								      <label>
								        <input type="checkbox" class="filled-in checkbox" />
										<span class="span"><%= resposta.frase %></span>
								      </label>
								    </p>
								<% end %>
							<% end %>
					<% end %>
				</div>
				<div class="col s12 m12 l12">
					<a id="salvar" class="btn orange shadow">Salvar</a>
				</div>
			</div>
		</div>
	</div>




	<!-- ####################################################  MENU LATERAL  ############################################################  -->



	<div class="col s12 m12 l4 no-margin no-padding">
		<ul id="slide-modulos" class="sidenav sidenav-fixed green lighten-5 right-aligned" style="transform: translateX() !important;">
			<li>
				<div class="user-view">
					<div class="background black">
						<img src="<%= capa(@curso) %>" style="opacity: 0.1;">
					</div>
					<%= link_to dashboard_curso_path(@curso), class: "no-margin no-padding" do %>
						<img class="item circle" src="<%= capa(@curso) %>">
						<span class=" white-text name"><%= truncate("#{@curso.nome}", length: 30) %></span>
						<span class="item white-text name"><%= truncate("#{@curso.descricao}", length: 100) %></span>
					<% end %>
				</div>
			</li>
			<% if curso_adquirido?(@curso) %>
				<% @curso.modulos.order("ordem asc").each do |modulo| %>
				<li>
				<%= link_to dashboard_modulo_path(modulo), class: "no-margin margin-bottom-15 #{'btn green pulse' if modulo == @modulo}" do %>
						<%= "#{modulo.ordem} - #{modulo.nome}" %>
						<span class="<%= 'span' unless modulo == @modulo %> f10 right peso-3"> <i class="material-icons f10 ">access_time</i> <%= "#{calcular_tempo modulo.tempo}" %></span>
					<% end %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>


<script type="text/javascript">
	$("#salvar").click(function(){
		$("#provas").html("<%= j( render 'sucesso' )%>");
	});
</script>