/* #2196f3; */
article{
	height: 64px;
	header{
		nav{
			z-index: 999;
			background-color: rgba(0, 0, 0, 0.83);
			position: fixed;
			.logo{
				font-family: 'misery_gymnast';
				font-size: 3.2rem !important;
				text-shadow: 0 0 5px white;
				padding: 0 10px;
			}


			a.btn{
				background-color: #fff!important;
				border: 1px solid #000;
				color: black;
				transition: .5s;
				&:hover{
					border: 1px solid #fff;
					box-shadow: 0 2px 20px white;
				}
			}
		}
		ul.sidenav{
			li{
				display: flex;
			}
		}
	}
}


header, main, footer {
	padding-left: 300px;
}
li, a{
	width: 300px;
	cursor: pointer;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
	.brand-logo{
		text-align: center;
	}
}


ul#slide-out::-webkit-scrollbar{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	width: 5px;
}
ul#slide-out::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2196F3;
}