<nav>
  <div class="nav-wrapper">
    <%= link_to "sys", home_path, class: "brand-logo logo" %>
    <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>



<ul id="slide-out" class="sidenav sidenav-fixed" style="width: 300px;">

  <li>
    <div class="user-view">
      <div class="background-navbar">
        <img src="/background-navbar.jpg" >
      </div>
      <div class="profile">
        <a><img class="item circle" src="<%= foto_perfil %>"></a>
        <a><span class="item white-text name"><%= nome %></span></a>
        <a><span class="item white-text email"><%= email %></span></a>
      </div>
    </div>
  </li>
  <li><a href="/admin/logs">Logs<i class='material-icons <%= "#{'blue-text' if action_controller(controller) == 'logs_pages'}" %>'>notifications</i><span class="badge blue white-text"><%= log_unviewed.size %></span></a></li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if ['users'].include?controller_name %>">
        <a class="collapsible-header" style="padding: 0 32px;">Usuários<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><%= link_to "Visualizar<i class='material-icons #{'blue-text' if action_controller(controller) == 'index_users'}'>search</i>".html_safe, admin_users_path %></li>
            <li><%= link_to "Add Usuário<i class='material-icons #{'blue-text' if action_controller(controller) == 'new_users'}'>add_circle</i>".html_safe, new_admin_user_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if ['categoria_cursos' ].include?controller_name %>">
        <a class="collapsible-header" style="padding: 0 32px;">Categorias<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><%= link_to "Visualizar <i class='material-icons #{'blue-text' if action_controller(controller) == 'index_categoria_cursos'}'>search</i>".html_safe, admin_categoria_cursos_path %></li>
            <li><%= link_to "Add Categoria<i class='material-icons #{'blue-text' if action_controller(controller) == 'new_categoria_cursos'}'>add_circle</i>".html_safe, new_admin_categoria_curso_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if ['cursos'].include?controller_name %>">
        <a class="collapsible-header" style="padding: 0 32px;">Cursos<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><%= link_to "Visualizar<i class='material-icons #{'blue-text' if action_controller(controller) == 'index_cursos'}'>search</i>".html_safe, admin_cursos_path %></li>
            <li><%= link_to "Add Curso<i class='material-icons #{'blue-text' if action_controller(controller) == 'new_cursos'}'>add_circle</i>".html_safe, new_admin_curso_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if ['modulos'].include?controller_name %>">
        <a class="collapsible-header" style="padding: 0 32px;">Módulos<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><%= link_to "Visualizar<i class='material-icons #{'blue-text' if action_controller(controller) == 'index_modulos'}'>search</i>".html_safe, admin_modulos_path %></li>
            <li><%= link_to "Add Módulo<i class='material-icons #{'blue-text' if action_controller(controller) == 'new_modulos'}'>add_circle</i>".html_safe, new_admin_modulo_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if ['turmas'].include?controller_name %>">
        <a class="collapsible-header" style="padding: 0 32px;">Turmas<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><%= link_to "Visualizar<i class='material-icons #{'blue-text' if action_controller(controller) == 'index_turmas'}'>search</i>".html_safe, admin_turmas_path %></li>
            <li><%= link_to "Add Turma<i class='material-icons #{'blue-text' if action_controller(controller) == 'new_turmas'}'>add_circle</i>".html_safe, new_admin_turma_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <hr>
  <li><%= link_to "Área do Aluno <i class='material-icons'>dashboard</i>".html_safe, dashboard_root_path %></li>
  <li><a>Perfil<i class='material-icons'>person</i></a></li>
  <li><%= link_to "Site <i class='material-icons'>home</i>".html_safe, home_path %></li>
  <li><%= link_to "Sair <i class='material-icons'>exit_to_app</i>".html_safe, destroy_user_session_path, :method => :delete %></li>
</ul>



<style type="text/css">

    @media only screen and (min-width : 993px) {
      #slideout-modulos{
        display: none;
      }
    }
         
</style>