<nav>
  <div class="nav-wrapper">
    <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons blue-text">menu</i></a>
    <span class="links">
      <i class="material-icons open-dialog purple-text">home</i>
      <i class="material-icons open-dialog blue-text">mail</i>
      <i class="material-icons open-dialog amber-text">perm_contact_calendar</i>
      <i class="material-icons open-dialog red-text">notifications</i>
      <i class="material-icons open-dialog green-text">help</i>
    </span>
    <div class="input-field hide-on-med-and-down">
      <input id="pesquisa" type="search">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </div>
</nav>



<ul id="slide-out" class="sidenav sidenav-fixed " style="">
  <li>
    <div class="user-view">
      <div class="background-navbar black">
          <img src="/background-sidenav2.jpg" class="" >
      </div>
      <div class="profile animar-BounceInDown " >
        <a href="/dashboard/perfil">
          <img class="item circle animar-BounceInDown faster" src="<%= foto_perfil %>">
        </a>
          <a href="/dashboard/perfil">
            <span class="item white-text name animar-BounceInDown fast"><%= nome %></span>
          </a>
          <a href="/dashboard/perfil">
            <span class="item white-text email animar-BounceInDown"><%= email %></span>
          </a>
      </div>
    </div>
  </li>

  <li class="animar-BounceInLeft">
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if is_home?(controller, @curso) %>">
        <%= link_to dashboard_root_path, class: "collapsible-header", style: "padding: 0 32px;" do %>
          Meus Cursos<i class="material-icons <%= 'blue-text' if action_name == 'home' %>">home</i><span class="badge green white-text"><%= user_cursos(current_user).size %></span>
        <% end %>
        <div class="collapsible-body">
          <ul style="padding-left: 15px;">
            <% user_cursos(current_user).each do |curso| %>
              <li><%= link_to dashboard_curso_path(curso) do %><%= truncate("#{curso.nome}", length: 16) %><i class="material-icons <%= 'blue-text' if !@curso.blank? and @curso.id == curso.id %>">import_contacts</i><% end %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </li>


  <li class="animar-BounceInLeft">
    <ul class="collapsible collapsible-accordion">
      <li class="<%= 'active' if (['cursos'].include?controller_name and ['index', 'gratis'].include?action_name) %>">
        <%= link_to dashboard_cursos_path, class: "collapsible-header", style: "padding: 0 32px;" do %>
          Cursos<i class="material-icons <%= 'blue-text' if (['cursos'].include?controller_name and ['index', 'gratis'].include?action_name) %>">arrow_drop_down</i><span class="badge green white-text"><%= cursos.size %></span>
          <% end %>
        <div class="collapsible-body">
          <ul style="padding-left: 15px;">
              <li><%= link_to dashboard_cursos_path() do %>Todos<i class='material-icons <%= "#{'blue-text' if action_controller(controller) == 'index_cursos' and params[:categoria_id].blank?}" %>'>folder</i><% end %></li>
              <li><%= link_to dashboard_cursos_gratis_path() do %>Gratis<i class='material-icons <%= "#{'blue-text' if action_controller(controller) == 'gratis_cursos'}" %>'>folder</i><% end %></li>
              <% CategoriaCurso.all.each do |categoria| %>
                <li ><%= link_to dashboard_cursos_path(categoria_id: categoria.id) do %><%= categoria.nome %><i class='material-icons <%= "#{'blue-text' if categoria.id == params[:categoria_id].to_i}" %>'>folder</i><% end %></li>
              <% end %>
        </div>
      </li>
    </ul>
  </li>
  <li class="animar-BounceInLeft"><a>Minhas Anotações<i class='material-icons'>note_add</i></a></li>
  <li class="animar-BounceInLeft"><a>Rendimento<i class='material-icons'>insert_chart</i></a></li>
  <li class="animar-BounceInLeft"><a>Medalhas<i class='material-icons'>brightness_medium</i></a></li>
  <li class="animar-BounceInLeft"><a>Certificados<i class='material-icons'>card_membership</i></a></li>
  <li class="animar-BounceInLeft"><a>Materiais<i class='material-icons'>local_library</i></a></li>
  <li class="animar-BounceInLeft"><a>Simulados<i class='material-icons'>create</i></a></li>
  <li class="animar-BounceInLeft"><a>Eventos<i class='material-icons'>event</i></a></li>
  <li class="animar-BounceInLeft"><a>Perfil<i class='material-icons'>person</i></a></li>

  <hr>
  <li class="animar-BounceInLeft">
    <% if can? :acessar, :admin %>
      <%= link_to "Admin <i class='material-icons'>dashboard</i>".html_safe, admin_root_path %>
    <% end %>
  </li>
  <li class="animar-BounceInLeft"><%= link_to "Site <i class='material-icons'>home</i>".html_safe, home_path %></li>
  <li class="animar-BounceInLeft"><%= link_to "Sair <i class='material-icons'>exit_to_app</i>".html_safe, destroy_user_session_path, :method => :delete %></li>
</ul>


<script type="text/javascript">
  $(document).ready(function() {
    <% if action_name == "home" %>
      $(".animar-BounceInDown").addClass("animated bounceInDown");
      $(".animar-BounceInLeft").addClass("animated bounceInLeft");
      $(".animar-jello").addClass("animated jello");
    <% end %>
  });
</script>