<div class="">
	<%= form_for [:admin, @modulo], remote: true do |f| %>
		<div class="row">
			<div class="col s12 m12 l12">
				<div id="form_error">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				<nav>
					<div class="nav-wrapper green">
						<%= link_to "Cursos", admin_cursos_path(), class: " breadcrumb" %>
						<% unless @curso.blank? %>
							<%= link_to truncate("#{@curso.nome}", length: 15), edit_admin_curso_path(@curso), class: " breadcrumb" %>
							<%= link_to "Módulos", admin_modulos_path(curso_id: @curso.id), class: " breadcrumb" %>
						<% else %>
							<%= link_to "Módulos", admin_modulos_path, class: " breadcrumb" %>
						<% end %>
						<% if !@modulo.new_record? %>
							<%= link_to truncate("#{@modulo.nome}", length: 15), edit_admin_modulo_path(id: @modulo.id), class: " breadcrumb" %>
						<% elsif @curso.blank? %>
							<%= link_to "Novo Módulo", new_admin_modulo_path(), class: " breadcrumb" %>
						<% else %>
							<%= link_to "Novo Módulo", new_admin_modulo_path(curso_id: @curso.id), class: " breadcrumb" %>
						<% end %>
					</div>
				</nav><br>
				<% unless @modulo.new_record? %>
				<%= link_to "Visualizar Provas".html_safe, admin_provas_path(modulo_id: @modulo.id), class: "btn shadow green" %>
				<% end %>
			</div>
			<div class="col s12 m12 l12">
			<br>
				<div class="card">
						<div class="card-content" style="border: 1px solid <%= action_controller(controller) == 'new_modulos' ? 'green' : '#2196f3' %>; padding: 15px; ">
						<div class="row">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<i class="material-icons prefix">local_offer</i>
										<%= f.collection_select :curso_id, Curso.all.order("cursos.nome ASC"), :id, :nome, { prompt: "Selecionar Curso" } %>
										<%= f.label :curso %>
									</div>
								</div>
						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :nome  %>
									<label for="modulo_nome">Nome</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :descricao %>
									<label for="modulo_descricao">Breve descrição do módulo</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">access_time</i>
									<%= f.text_field :tempo, :onkeypress => "mascara(this, checaNumero)" %>
									<label for="modulo_tempo">Tempo para terminar (horas)</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">ondemand_video</i>
									<%= f.text_field :video %>
									<label for="modulo_video">Video</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l12">
									<label>
										<%= f.check_box :ativo, class: "filled-in checkbox"  %> 
										<span class="">Ativo</span>
									</label>
								</div>
							</div>
						</div>
						<div class="row layout claro" style="min-height: 200px;">
							<div class="col s12 m12 l6">
								<div class="file-field input-field">
									<div class="btn blue">
									    <span>MATERIAIS</span>
										<%= f.file_field :materiais, multiple: true %>
									</div>
									<div class="file-path-wrapper">
										<input class="validate" type="text" placeholder="Adiconar Materiais ">
									</div>
								</div>
							</div>
							<div class="col s12 m12 l6">
								<% @modulo.materiais.each do |material| %>
									<li>
										<a href="<%= material %>" target="_blank"><%= material.file.filename %></a>
									</li>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="field">
									<div class="input-field col s12 m12 l12">
										<span class="f20 grey-text">Conteudo</span>
										<%= f.cktext_area :conteudo, as: :text, ckeditor: {language: 'pt'}  %>
									</div>
								</div>
							</div>
						</div>

						<div class="action ">
							<button type="submit" class="send btn shadow green dark small right">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
