<tr>
  <td class="cod">
    <span>
      <%= modulo.id %>
    </span>
  </td>
  <td><%= "#{modulo.nome}" %></td>
  <td><%= modulo.descricao %></td>
  <td>
    <%= modulo.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td>
    <%= modulo.provas.blank? ? "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe : "<i class='material-icons green-text'>check_box</i>".html_safe %>
  </td>
  <td class="actions">
    <%= link_to edit_admin_modulo_path(id:modulo.id), class: "btn shadow blue small", title: "Editar #{modulo.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_modulo_path(modulo), class: "btn shadow orange small", title: "Visualizar #{modulo.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
  </td>
</tr>