<div class="row">
<div class="row"></div>
	<div class="col s12 m12 l12">
		<nav>
			<div class="nav-wrapper green">
				<%= link_to "Cursos", admin_cursos_path(), class: " breadcrumb" %>
				<% unless @curso.blank? %>
					<%= link_to truncate("#{@curso.nome}", length: 15), edit_admin_curso_path(@curso), class: " breadcrumb" %>
					<%= link_to "Módulos", admin_modulos_path(curso_id: @curso.id), class: " breadcrumb" %>
				<% else %>
					<%= link_to "Módulos", admin_modulos_path(), class: " breadcrumb" %>
				<% end %>
			</div>
		</nav><br>
		<%= link_to "Novo Módulo".html_safe, new_admin_modulo_path(curso_id: params[:curso_id]), class: "btn shadow green" %>
	</div>
</div>

<div class="row layout">
	<div class="input-field col s12 m6 l3">
		<input id="codigo" type="text" class="validate">
		<label class="active" for="codigo">Código</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<input id="name" type="text" class="validate">
		<label class="active" for="name">Nome</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<a id="buscar" class="btn shadow black small">Buscar</a>
	</div>
</div>
<div class="row">
	
	<div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m12 l12">
						<div id="modulo_list">
							<%= render "list" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#buscar").click(function(){
		$("#modulo_list").removeClass("animated tada");
		var codigo = $("#codigo").val();
		var nome = $("#nome").val();
		$.ajax({
			url: "/admin/modulos",
			method: "get",
			dataType: "script",
			data: {
				'id': 			codigo,
				'nome': 		nome
			}
		});
	});
$("input").keypress(function() {
    if (event.which == 13) $("a#buscar").trigger( "click" )
});
</script>