<nav id="slideout-modulos" class="transparent" style="height: 15px;">
	<div class="nav-wrapper transparent"><br>
		<a data-target="slide-modulos" class="sidenav-trigger btn shadow blue no-margin margin-bottom-15 right">Módulos</a>
	</div>
</nav>
<div class="row">



	<!-- ####################################################  CONTEÚDO  ############################################################  -->



	<div class="col s12 m12 l8 animated flip ">
		<h1 class="f30 no-margin"><%= "#{@modulo.nome}" %></h1>
		<span class="span f12">
			<%= "#{@modulo.descricao}".html_safe %>
		</span>
		<br>
		<p style="padding: 0 15px;">
			<div class="video">
				<span class="span f12">Vídeo</span>
				<iframe width="100%" height="315" src="<%= @modulo.video.blank? ? 'https://www.youtube.com/embed/wJnBTPUQS5A' : @modulo.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<p>
				<%= "#{@modulo.conteudo}".html_safe %>
			</p>
			<p>
		      <ul class="collection with-header">
		      	<% if @modulo.materiais.blank? %>
		        	<li class="collection-header" style="width: 100%;"><h4 class="blue-text f20"><i class="material-icons f30">info</i> Este módulo não possui materiais complementares</h4></li>
		      	<% else %>
		        	<li class="collection-header"><h4 class="blue-text f25">Materiais</h4></li>
		      	<% end %>
				<% @modulo.materiais.each do |material| %>
		        	<li class="collection-item">
		        		<div>
		        			<a href="<%= material %>" class="secondary-content" target="_blank"><i class="material-icons">print</i>
		        				<%= material.file.filename %>
		        			</a>
		        		</div>
		        	</li>
				<% end %>
		      </ul>
			</p>
			<p>
				<% @modulo.provas.each do |prova| %>
					<%= link_to "#{prova.descricao}", dashboard_prova_path(prova), class: "btn blue shadow" %> <br>
				<% end %>
			</p>
		</p>
	</div>




	<!-- ####################################################  MENU LATERAL  ############################################################  -->



	<div class="col s12 m12 l4 no-margin no-padding">
		<ul id="slide-modulos" class="sidenav sidenav-fixed blue lighten-5 right-aligned" style="transform: translateX() !important;">
			<li>
				<div class="user-view">
					<div class="background">
						<img src="<%= capa(@curso) %>">
					</div>
					<%= link_to dashboard_curso_path(@curso), class: "no-margin no-padding" do %>
						&nbsp; <br>
						<span class=" white-text name"><%= truncate("#{@curso.nome}", length: 30) %></span>
						<span class="item white-text name"><%= truncate("#{@curso.descricao}", length: 100) %></span>
					<% end %>
				</div>
			</li>
			<% if curso_adquirido?(@curso) %>
				<% @curso.modulos.order("ordem asc").each do |modulo| %>
				<li>
				<%= link_to dashboard_modulo_path(modulo), class: "no-margin margin-bottom-15 #{'btn blue pulse' if modulo == @modulo}" do %>
						<%= "#{modulo.ordem} - #{modulo.nome}" %>
						<span class="<%= 'span' unless modulo == @modulo %> f10 right peso-3"> <i class="material-icons f10 ">access_time</i> <%= "#{calcular_tempo modulo.tempo}" %></span>
					<% end %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>