<tr>
  <td class="cod">
    <span>
      <%= categoria_curso.id %>
    </span>
  </td>
  <td><%= categoria_curso.nome %></td>
  <td><%= categoria_curso.descricao %></td>
  <td>
    <%= categoria_curso.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td>
    <%= link_to edit_admin_categoria_curso_path(categoria_curso), class: "btn shadow blue small", title: "Editar #{categoria_curso.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_categoria_curso_path(categoria_curso), class: "btn shadow orange small", title: "Visualizar #{categoria_curso.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
  </td>
</tr>