<div class="row">
	<div class="col s12 m12 l2">
		<%= link_to "Adicionar Categoria", new_admin_categoria_curso_path, class: "btn shadow green small" %>
	</div>
</div>
<div class="row layout">
	<div class="input-field col s12 m6 l3">
		<input id="id" type="text" class="validate">
		<label class="active" for="id">Código</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<input id="name" type="text" class="validate">
		<label class="active" for="name">Nome</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<a id="buscar" class="btn shadow black small">Buscar</a>
	</div>
</div>

<div class="row layout claro">
	<div class="col s12 m12 l12">
		<div id="categoria_list">
			<%= render "list" %>
		</div>
	</div>
</div>
